﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h3 class="text-center">Select file for uploading</h3>

    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class="col-md-4 col-md-offset-4" }))
    {
        <div class="file-upload">
            <button type="button">Select</button>
            <div id="fileform">File isn't selected</div>
            <input type="file" accept="image/*" name="upload" onchange="getFileName(this.value);"/>
        </div>
        <br />
        <input type="submit" class="btn btn-default col-md-offset-5" value="Upload" />
    }

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>

<script type="text/javascript">
    function getFileName(str) {
        if (str.lastIndexOf('\\'))
            var i = str.lastIndexOf('\\') + 1;
        else var i = str.lastIndexOf('/') + 1;

        var fileName = str.slice(i);
        var uploaded = $('#fileform')[0];
        uploaded.innerHTML = fileName;
    }
</script>
</html>
